# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [935]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path('.//Resources/applicants_data.csv'))

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [936]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [937]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [938]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [939]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [940]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [941]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [942]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df.drop(columns = categorical_variables),encoded_df],axis=1)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [943]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [944]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns ='IS_SUCCESSFUL')

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [945]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [946]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [947]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [948]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [949]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + number_output_neurons) // 2 

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [950]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + number_output_neurons) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [951]:
# Create the Sequential model instance
nn = Sequential()

In [952]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [953]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [954]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="sigmoid"))

In [955]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_57"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_190 (Dense)           (None, 58)                6786

 dense_191 (Dense)           (None, 29)                1711

 dense_192 (Dense)           (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [956]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [957]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 6s 5ms/step - loss: 0.5750 - accuracy: 0.7194
Epoch 2/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5527 - accuracy: 0.7295
Epoch 3/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5494 - accuracy: 0.7305
Epoch 4/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5471 - accuracy: 0.7311
Epoch 5/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5458 - accuracy: 0.7325
Epoch 6/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5455 - accuracy: 0.7325
Epoch 7/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5438 - accuracy: 0.7322
Epoch 8/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5429 - accuracy: 0.7347
Epoch 9/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5422 - accuracy: 0.7350
Epoch 10/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5415 - accuracy: 0.7354
Epoch 11/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5407 - accuracy: 0.7371
Epoch 12/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5405 - accuracy: 0.7348
Epoch 13/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5394 - accuracy: 0.7375
Epoch 14/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5391 - accuracy: 0.7374
Epoch 15/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5382 - accuracy: 0.7376
Epoch 16/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5382 - accuracy: 0.7365
Epoch 17/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5383 - accuracy: 0.7385
Epoch 18/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5377 - accuracy: 0.7374
Epoch 19/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5375 - accuracy: 0.7387
Epoch 20/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5368 - accuracy: 0.7388
Epoch 21/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5369 - accuracy: 0.7388
Epoch 22/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5368 - accuracy: 0.7377
Epoch 23/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5360 - accuracy: 0.7391
Epoch 24/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5357 - accuracy: 0.7392
Epoch 25/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5360 - accuracy: 0.7387
Epoch 26/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5354 - accuracy: 0.7392
Epoch 27/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5353 - accuracy: 0.7398
Epoch 28/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5351 - accuracy: 0.7395
Epoch 29/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5349 - accuracy: 0.7392
Epoch 30/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5345 - accuracy: 0.7400
Epoch 31/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5341 - accuracy: 0.7406
Epoch 32/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5342 - accuracy: 0.7402
Epoch 33/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5340 - accuracy: 0.7401
Epoch 34/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5338 - accuracy: 0.7405
Epoch 35/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5341 - accuracy: 0.7406
Epoch 36/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5337 - accuracy: 0.7409
Epoch 37/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5327 - accuracy: 0.7410
Epoch 38/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5337 - accuracy: 0.7400
Epoch 39/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5328 - accuracy: 0.7418
Epoch 40/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5330 - accuracy: 0.7408
Epoch 41/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5328 - accuracy: 0.7413
Epoch 42/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5329 - accuracy: 0.7410
Epoch 43/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5328 - accuracy: 0.7412
Epoch 44/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5323 - accuracy: 0.7420
Epoch 45/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5324 - accuracy: 0.7411
Epoch 46/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5326 - accuracy: 0.7412
Epoch 47/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5327 - accuracy: 0.7412
Epoch 48/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5323 - accuracy: 0.7412
Epoch 49/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5318 - accuracy: 0.7420
Epoch 50/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5318 - accuracy: 0.7414

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [958]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5550 - accuracy: 0.7306 - 1s/epoch - 5ms/step
Loss: 0.5550045967102051, Accuracy: 0.7306122183799744

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [29]:
# Set the model's file path
file_path = Path('./Resources/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### ALTERNATIVE MODEL 1: DROP COLUMNS FROM INPUT DATA TO SEE IF THAT PROVIDES BETTER MODEL RESULTS

In [325]:
### DO NOT RERUN (ONLY RUN ONCE)
test_results = pd.DataFrame()
test_results

Empty DataFrame
Columns: []
Index: []

### RERUN PROCESS FROM HERE TO RUN DATA WITH REMOVING 1 DIFFERENT COLUMN EVERY RUN, PLEASE CHANGE # Select which column to remove: from 0-8

In [493]:
# Review original DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [494]:
# Create a list with all column names from the appllicant_data_df
column_values_df = list(applicant_data_df.columns)
#column_values_df

In [495]:
# Create an overview with number of unique values in each column of the applicant_data_df 
unique_values_in_df = applicant_data_df[column_values].nunique()
unique_values_in_df

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [497]:
# Select which column to remove:
remove_column = column_values_df[8]
remove_column

'ASK_AMT'

In [531]:
# Drop columns 
applicant_data_df_adjusted = applicant_data_df.drop(columns=[remove_column])

# Review new DataFrame
applicant_data_df_adjusted.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,1

In [499]:
# Prepare the data to be used on a neural network model Stage

# Create a list of categorical variables 
categorical_variables = list(applicant_data_df_adjusted.dtypes[applicant_data_df_adjusted.dtypes == "object"].index)
    
# Display the categorical variables list
#display(categorical_variables)

#Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df_adjusted[categorical_variables])

# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
        encoded_data,
        columns = enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
#display(encoded_df.head())

# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df_adjusted.drop(columns = categorical_variables),encoded_df],axis=1)

# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
#display(y.head())
    
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns = 'IS_SUCCESSFUL')

# Review the features DataFrame
#display(X.head())

# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1)
    
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Alternative Model 1

In [500]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

115

In [501]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [502]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + number_output_neurons_A1) // 2 

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58

In [503]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer2_A1 = (hidden_nodes_layer1 + number_output_neurons_A1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer2_A1

7

In [504]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [505]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer2_A1, activation="relu"))

# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation="sigmoid"))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_26"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_75 (Dense)            (None, 58)                6728

 dense_76 (Dense)            (None, 7)                 413

 dense_77 (Dense)            (None, 1)                 8

=================================================================
Total params: 7,149
Trainable params: 7,149
Non-trainable params: 0
_________________________________________________________________

In [506]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [507]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=20)

Epoch 1/20
804/804 [==============================] - 8s 6ms/step - loss: 0.5771 - accuracy: 0.7212
Epoch 2/20
804/804 [==============================] - 5s 6ms/step - loss: 0.5533 - accuracy: 0.7295
Epoch 3/20
804/804 [==============================] - 5s 6ms/step - loss: 0.5499 - accuracy: 0.7302
Epoch 4/20
804/804 [==============================] - 5s 6ms/step - loss: 0.5480 - accuracy: 0.7304
Epoch 5/20
804/804 [==============================] - 5s 6ms/step - loss: 0.5462 - accuracy: 0.7329
Epoch 6/20
804/804 [==============================] - 5s 6ms/step - loss: 0.5459 - accuracy: 0.7330
Epoch 7/20
804/804 [==============================] - 5s 6ms/step - loss: 0.5451 - accuracy: 0.7334
Epoch 8/20
804/804 [==============================] - 5s 6ms/step - loss: 0.5439 - accuracy: 0.7334
Epoch 9/20
804/804 [==============================] - 5s 6ms/step - loss: 0.5432 - accuracy: 0.7346
Epoch 10/20
804/804 [==============================] - 5s 6ms/step - loss: 0.5424 - accuracy: 0.7358
Epoch 11/20
804/804 [==============================] - 5s 6ms/step - loss: 0.5419 - accuracy: 0.7345
Epoch 12/20
804/804 [==============================] - 5s 6ms/step - loss: 0.5415 - accuracy: 0.7360
Epoch 13/20
804/804 [==============================] - 5s 6ms/step - loss: 0.5404 - accuracy: 0.7373
Epoch 14/20
804/804 [==============================] - 5s 6ms/step - loss: 0.5408 - accuracy: 0.7355
Epoch 15/20
804/804 [==============================] - 5s 6ms/step - loss: 0.5400 - accuracy: 0.7371
Epoch 16/20
804/804 [==============================] - 5s 6ms/step - loss: 0.5400 - accuracy: 0.7367
Epoch 17/20
804/804 [==============================] - 5s 6ms/step - loss: 0.5396 - accuracy: 0.7373
Epoch 18/20
804/804 [==============================] - 5s 6ms/step - loss: 0.5397 - accuracy: 0.7365
Epoch 19/20
804/804 [==============================] - 5s 6ms/step - loss: 0.5390 - accuracy: 0.7368
Epoch 20/20
804/804 [==============================] - 5s 6ms/step - loss: 0.5383 - accuracy: 0.7373

In [521]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Results for data with dropped column {remove_column}\nLoss: {model_loss}\nAccuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5549 - accuracy: 0.7306 - 973ms/epoch - 4ms/step
Results for data with dropped column ASK_AMT
Loss: 0.5549265146255493
Accuracy: 0.7306122183799744

In [522]:
new_row = {'remove_column':remove_column,'loss':model_loss,'accuracy':model_accuracy}
test_results = test_results.append(new_row,ignore_index=True)

C:\Users\niels\AppData\Local\Temp\ipykernel_17316\3818078402.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  test_results = test_results.append(new_row,ignore_index=True)

In [530]:
test_results.sort_values('accuracy',ascending=False)

            remove_column      loss  accuracy
3                USE_CASE  0.553481  0.732128
8                 ASK_AMT  0.554927  0.730612
7  SPECIAL_CONSIDERATIONS  0.551504  0.729563
5                  STATUS  0.554334  0.728396
6              INCOME_AMT  0.559642  0.726997
4            ORGANIZATION  0.564777  0.726297
2          CLASSIFICATION  0.571093  0.723032
0        APPLICATION_TYPE  0.571530  0.713353
1             AFFILIATION  0.612181  0.659592

---
### Based on above analysis where we reran the model 9 times every time with a different removed column,
### we can conclude that REMOVING USE_CASE and ASK_AMT increases the accuracy of te model. 
### Therefore we will rerun the model once more using the dataframe and removing USE_CASE and ASK_AMT
---

## Alternative Model 1 FINAL (REMOVING COLUMNS USE CASE and ASK_AMT)

In [961]:
# Review original DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [962]:
# Drop columns APPLICATION_TYPE and CLASSIFICATION (Trial and Error) Logically thinking these columns don't have any explantory value as they are codes 
# that don't have any additional information attached to them as to what they are or what they explain. 

applicant_data_df_adjusted = applicant_data_df.drop(columns=['USE_CASE','ASK_AMT'])

# Review new DataFrame
applicant_data_df_adjusted.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,IS_SUCCESSFUL
0,T10,Independent,C1000,Association,1,0,N,1
1,T3,Independent,C2000,Co-operative,1,1-9999,N,1
2,T5,CompanySponsored,C3000,Association,1,0,N,0
3,T3,CompanySponsored,C2000,Trust,1,10000-24999,N,1
4,T3,Independent,C1000,Trust,1,100000-499999,N,1

In [963]:
# Prepare the data to be used on a neural network model Stage

# Create a list of categorical variables 
categorical_variables = list(applicant_data_df_adjusted.dtypes[applicant_data_df_adjusted.dtypes == "object"].index)
    
# Display the categorical variables list
#display(categorical_variables)

#Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df_adjusted[categorical_variables])

# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
        encoded_data,
        columns = enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
#display(encoded_df.head())

# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df_adjusted.drop(columns = categorical_variables),encoded_df],axis=1)

# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
#display(y.head())
    
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns = 'IS_SUCCESSFUL')

# Review the features DataFrame
#display(X.head())

# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1)
    
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [964]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

110

In [965]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [966]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + number_output_neurons_A1) // 2 

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

55

In [967]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer2_A1 = (hidden_nodes_layer1 + number_output_neurons_A1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer2_A1

29

In [968]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [969]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer2_A1, activation="relu"))

# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation="sigmoid"))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_58"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_193 (Dense)           (None, 55)                6105

 dense_194 (Dense)           (None, 29)                1624

 dense_195 (Dense)           (None, 1)                 30

=================================================================
Total params: 7,759
Trainable params: 7,759
Non-trainable params: 0
_________________________________________________________________

In [970]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [971]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 6s 5ms/step - loss: 0.5737 - accuracy: 0.7210
Epoch 2/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5540 - accuracy: 0.7280
Epoch 3/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5519 - accuracy: 0.7291
Epoch 4/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5494 - accuracy: 0.7299
Epoch 5/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5491 - accuracy: 0.7310
Epoch 6/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5489 - accuracy: 0.7310
Epoch 7/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5476 - accuracy: 0.7315
Epoch 8/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5466 - accuracy: 0.7320
Epoch 9/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5460 - accuracy: 0.7330
Epoch 10/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5457 - accuracy: 0.7332
Epoch 11/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5452 - accuracy: 0.7334
Epoch 12/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5445 - accuracy: 0.7339
Epoch 13/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5439 - accuracy: 0.7339
Epoch 14/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5440 - accuracy: 0.7344
Epoch 15/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5439 - accuracy: 0.7343
Epoch 16/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5436 - accuracy: 0.7352
Epoch 17/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5426 - accuracy: 0.7350
Epoch 18/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5430 - accuracy: 0.7348
Epoch 19/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5425 - accuracy: 0.7352
Epoch 20/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5423 - accuracy: 0.7357
Epoch 21/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5425 - accuracy: 0.7348
Epoch 22/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5418 - accuracy: 0.7360
Epoch 23/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5421 - accuracy: 0.7345
Epoch 24/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5414 - accuracy: 0.7345
Epoch 25/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5416 - accuracy: 0.7343
Epoch 26/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5413 - accuracy: 0.7360
Epoch 27/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5409 - accuracy: 0.7355
Epoch 28/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5407 - accuracy: 0.7352
Epoch 29/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5406 - accuracy: 0.7358
Epoch 30/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5407 - accuracy: 0.7355
Epoch 31/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5406 - accuracy: 0.7354
Epoch 32/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5408 - accuracy: 0.7360
Epoch 33/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5403 - accuracy: 0.7349
Epoch 34/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5399 - accuracy: 0.7356
Epoch 35/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5402 - accuracy: 0.7358
Epoch 36/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5398 - accuracy: 0.7359
Epoch 37/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5399 - accuracy: 0.7352
Epoch 38/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5395 - accuracy: 0.7366
Epoch 39/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5396 - accuracy: 0.7358
Epoch 40/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5395 - accuracy: 0.7357
Epoch 41/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5388 - accuracy: 0.7369
Epoch 42/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5394 - accuracy: 0.7368
Epoch 43/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5390 - accuracy: 0.7362
Epoch 44/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5390 - accuracy: 0.7368
Epoch 45/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5387 - accuracy: 0.7364
Epoch 46/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5389 - accuracy: 0.7361
Epoch 47/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5386 - accuracy: 0.7369
Epoch 48/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5386 - accuracy: 0.7376
Epoch 49/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5386 - accuracy: 0.7369
Epoch 50/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5380 - accuracy: 0.7367

In [972]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Results for data with dropped column {remove_column}\nLoss: {model_loss}\nAccuracy: {model_accuracy}")

268/268 - 3s - loss: 0.5585 - accuracy: 0.7310 - 3s/epoch - 9ms/step
Results for data with dropped column ASK_AMT
Loss: 0.5584707856178284
Accuracy: 0.7309620976448059

---
## CONCLUSION ALTERNATIVE MODEL 1:
### REMOVING USE_CASE AND ASK_AMT SLIGHTLY INCREASES THE ACCURACY AND MINIMALLY DECREASES MODEL LOSS
---
### IN ALTERNATIVE MODEL 2 I WILL ADD:
* More neurons (nodes) to a hidden layer.
* Add more hidden layers.
---

In [613]:
### DO NOT RERUN (ONLY RUN ONCE)
test_results_model2 = pd.DataFrame()
test_results_model2

Empty DataFrame
Columns: []
Index: []

#### Alternative Model 2

### RERUN FROM HERE WITH DIFFERENT SETTING TO ADD THE RESULTS TO TEST_RESULTS_MODEL2 DATAFRAME, CHANGE HIDDEN_NOTES_DEVIDE NUMBER EITHER DECREASE NUMBER TO INCREASE NUMBER OF NODES IN 1ST LAYER (AND CONSEQUENTLY LAYER 2 AND 3) OR INCREASE FOR VICE VERSA.

In [974]:
# Define the the number of inputs (features) to the model
number_input_features_A2 = len(X_train.iloc[0])

# Review the number of features
number_input_features_A2

110

In [975]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

### ADD A VARIABLE TO DEVIDE THE NUMBER OF HIDDEN NODES FOR LAYER1 WITH (STANDARD IS 2)

In [976]:
# Define with what number to devide (number_input_feature + number_output_neurons) STANDARD is 2. 
# Increase number to reduce number of hidden layers, reduce number to increase number of nodes
# Standard determination of hidden_notes_layer1 = ((number_input_features_A2 + number_output_neurons_A2) // 2)
hidden_notes_devide = 6

In [977]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = ((number_input_features_A2 + number_output_neurons_A2) // hidden_notes_devide)

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

18

In [978]:
# Define the number of hidden nodes for the 2nd hidden layer
hidden_nodes_layer2_A2 = (hidden_nodes_layer1_A2 + number_output_neurons_A2) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer2_A2

9

### ADD ADDITIONAL LAYER (LAYER 3)

In [979]:
# ADD AN ADDITIONAL LAYER LAYER3
# Define the number of hidden nodes for the 3rd hidden layer
hidden_nodes_layer3_A2 = (hidden_nodes_layer2_A2 + number_output_neurons_A2) // 2

# Review the number of hidden nodes in the 3rd layer
hidden_nodes_layer3_A2

5

In [980]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [981]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, activation="relu"))

# Third hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer3_A2, activation="relu"))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_59"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_196 (Dense)           (None, 18)                1998

 dense_197 (Dense)           (None, 9)                 171

 dense_198 (Dense)           (None, 5)                 50

 dense_199 (Dense)           (None, 1)                 6

=================================================================
Total params: 2,225
Trainable params: 2,225
Non-trainable params: 0
_________________________________________________________________

In [982]:
# Compile the Sequential model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [983]:
# Fit the model using 50 epochs and the training data
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=20)

Epoch 1/20
804/804 [==============================] - 7s 5ms/step - loss: 0.5979 - accuracy: 0.7053
Epoch 2/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5561 - accuracy: 0.7277
Epoch 3/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5513 - accuracy: 0.7302
Epoch 4/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5498 - accuracy: 0.7304
Epoch 5/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5484 - accuracy: 0.7318
Epoch 6/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5477 - accuracy: 0.7309
Epoch 7/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5468 - accuracy: 0.7311
Epoch 8/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5464 - accuracy: 0.7320
Epoch 9/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5460 - accuracy: 0.7322
Epoch 10/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5455 - accuracy: 0.7324
Epoch 11/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5453 - accuracy: 0.7329
Epoch 12/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5451 - accuracy: 0.7338
Epoch 13/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5452 - accuracy: 0.7334
Epoch 14/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5449 - accuracy: 0.7331
Epoch 15/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5443 - accuracy: 0.7352
Epoch 16/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5444 - accuracy: 0.7337
Epoch 17/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5442 - accuracy: 0.7343
Epoch 18/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5438 - accuracy: 0.7346
Epoch 19/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5436 - accuracy: 0.7337
Epoch 20/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5437 - accuracy: 0.7339

In [984]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Input features {number_input_features_A2}\nhidden notes layer1 {hidden_nodes_layer1_A2}\nhidden notes layer2 {hidden_nodes_layer2_A2}\nhidden notes layer3 {hidden_nodes_layer3_A2}\nLoss: {model_loss}\nAccuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5556 - accuracy: 0.7311 - 1s/epoch - 5ms/step
Input features 110
hidden notes layer1 18
hidden notes layer2 9
hidden notes layer3 5
Loss: 0.555557906627655
Accuracy: 0.7310787439346313

In [743]:
new_row_model2 = {'hidden_notes_layer1':hidden_nodes_layer1_A2,'hidden_notes_layer2':hidden_nodes_layer2_A2,'hidden_notes_layer3':hidden_nodes_layer3_A2,'loss':model_loss, 'Accuracy':model_accuracy }
test_results_model2 = test_results_model2.append(new_row_model2,ignore_index=True)

C:\Users\niels\AppData\Local\Temp\ipykernel_17316\872888412.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  test_results_model2 = test_results_model2.append(new_row_model2,ignore_index=True)

In [744]:
test_results_model2.sort_values('Accuracy',ascending=False)

,hidden_notes_layer1,hidden_notes_layer2,hidden_notes_layer3,loss,Accuracy
6,18.0,9.0,5.0,0.553512,0.733644
1,111.0,56.0,28.0,0.556450,0.733528
5,22.0,11.0,6.0,0.553668,0.732828
4,27.0,14.0,7.0,0.555454,0.732478
2,222.0,111.0,56.0,0.554808,0.732012
7,15.0,8.0,4.0,0.556154,0.731895
3,37.0,19.0,10.0,0.558137,0.731079
8,13.0,7.0,4.0,0.554560,0.730496
0,74.0,37.0,19.0,0.552409,0.730146
9,11.0,6.0,3.0,0.558146,0.728280

---
## CONCLUSION ALTERNATIVE MODEL 2:
### ADDING AN ADDITIONAL LAYER DOES NOT SEEM TO IMPROVE THE MODEL SIGNIFICANTLY, ALSO REDUCING AND INCREASING THE NUMBER OF HIDDEN NODES DOES NOT HAVE THE DESIRED EFFECT. PLEASE ALSO SEE ABOVE DATAFRAME WITH TEST RESULTS. 
---
### IN ALTERNATIVE MODEL 3 WE WILL USE THE MODEL WITH 3 LAYERS WITH 1ST LAYER WITH 18 NODES 2ND LAYER 9 AND 3RD LAYER 3 NODES AS THIS PROVED TO HAVE THE HIGHEST ACCURACY. 
---
### ADDITIONALLY IN ALTERNATIVE MODEL 3 I WILL CHANGE:
* activation functions for the hidden layers.
* Add number of epochs in the training regimen.
---

In [745]:
### DO NOT RERUN (ONLY RUN ONCE)
test_results_model3 = pd.DataFrame()
test_results_model3

Empty DataFrame
Columns: []
Index: []

### RERUN FROM HERE WITH DIFFERENT ACTIVATION FUNCTIONS FOR HIDDEN LAYERS AND CHANGED NUMBER OF EPOCHS

In [986]:
# Define the the number of inputs (features) to the model
number_input_features_A3 = len(X_train.iloc[0])

# Review the number of features
number_input_features_A3

110

In [987]:
# Define the number of neurons in the output layer
number_output_neurons_A3 = 1

In [988]:
# Define with what number to devide (number_input_feature + number_output_neurons) STANDARD is 2. 
# Increase number to reduce number of hidden layers, reduce number to increase number of nodes
# Standard determination of hidden_notes_layer1 = ((number_input_features_A2 + number_output_neurons_A2) // 2)
hidden_notes_devide = 6

In [989]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A3 = ((number_input_features_A3 + number_output_neurons_A3) // hidden_notes_devide)

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A3

18

In [990]:
# Define the number of hidden nodes for the 2nd hidden layer
hidden_nodes_layer2_A3 = (hidden_nodes_layer1_A3 + number_output_neurons_A3) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer2_A3

9

In [991]:
# Define the number of hidden nodes for the 3rd hidden layer
hidden_nodes_layer3_A3 = (hidden_nodes_layer2_A3 + number_output_neurons_A3) // 2

# Review the number of hidden nodes in the 3rd layer
hidden_nodes_layer3_A3

5

In [992]:
# Create the Sequential model instance
nn_A3 = Sequential()

In [993]:
# Devine activation for layers 1-3 
# Devine activation for output layer
# Devine loss model
# Devine optimizer model
# Devine metrics
# Devine # of Epochs

activation_layers = 'Softmax'
activation_output = 'sigmoid'
loss_model_used = 'binary_crossentropy'
optimizer_used = 'adam'
metrics_used = 'accuracy'
epochs_used = 20

In [994]:
# First hidden layer
nn_A3.add(Dense(units=hidden_nodes_layer1_A3, input_dim=number_input_features, activation=activation_layers))

# Second hidden layer
nn_A3.add(Dense(units=hidden_nodes_layer2_A3, activation=activation_layers))

# Third hidden layer
nn_A3.add(Dense(units=hidden_nodes_layer3_A3, activation=activation_layers))

# Output layer
nn_A3.add(Dense(units=number_output_neurons_A3, activation=activation_output))

# Check the structure of the model
nn_A3.summary()

Model: "sequential_60"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_200 (Dense)           (None, 18)                1998

 dense_201 (Dense)           (None, 9)                 171

 dense_202 (Dense)           (None, 5)                 50

 dense_203 (Dense)           (None, 1)                 6

=================================================================
Total params: 2,225
Trainable params: 2,225
Non-trainable params: 0
_________________________________________________________________

In [995]:
# Compile the Sequential model
nn_A3.compile(loss=loss_model_used, optimizer=optimizer_used, metrics=[metrics_used])

In [996]:
# Fit the model using 50 epochs and the training data
fit_model_A3 = nn_A3.fit(X_train_scaled, y_train, epochs=epochs_used)

Epoch 1/20
804/804 [==============================] - 7s 6ms/step - loss: 0.6784 - accuracy: 0.5775
Epoch 2/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5895 - accuracy: 0.7294
Epoch 3/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5720 - accuracy: 0.7327
Epoch 4/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5691 - accuracy: 0.7318
Epoch 5/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5681 - accuracy: 0.7336
Epoch 6/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5673 - accuracy: 0.7334
Epoch 7/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5665 - accuracy: 0.7341
Epoch 8/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5657 - accuracy: 0.7340
Epoch 9/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5644 - accuracy: 0.7350
Epoch 10/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5590 - accuracy: 0.7347
Epoch 11/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5545 - accuracy: 0.7350
Epoch 12/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5527 - accuracy: 0.7352
Epoch 13/20
804/804 [==============================] - 4s 6ms/step - loss: 0.5515 - accuracy: 0.7347
Epoch 14/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5505 - accuracy: 0.7354
Epoch 15/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5497 - accuracy: 0.7353
Epoch 16/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5492 - accuracy: 0.7357
Epoch 17/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5488 - accuracy: 0.7355
Epoch 18/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5483 - accuracy: 0.7355
Epoch 19/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5481 - accuracy: 0.7352
Epoch 20/20
804/804 [==============================] - 4s 5ms/step - loss: 0.5476 - accuracy: 0.7358

In [997]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A3.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"activation on layers is  {activation_layers}\nactivation on output {activation_output}\nloss model used {loss_model_used}\noptimizer used {optimizer_used}\nmetrics used {metrics_used}\nepochs used{epochs_used}\nLoss: {model_loss}\nAccuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5544 - accuracy: 0.7322 - 1s/epoch - 5ms/step
activation on layers is  Softmax
activation on output sigmoid
loss model used binary_crossentropy
optimizer used adam
metrics used accuracy
epochs used20
Loss: 0.5543968677520752
Accuracy: 0.7322449088096619

In [932]:
new_row_model3 = {'activation_layer':activation_layers,'activation_output':activation_output,'loss_model_used':loss_model_used,'optimizer_used':optimizer_used,'metrics_used':metrics_used,'epochs_used':epochs_used,'loss':model_loss, 'Accuracy':model_accuracy }
test_results_model3 = test_results_model3.append(new_row_model3,ignore_index=True)

C:\Users\niels\AppData\Local\Temp\ipykernel_17316\817899773.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  test_results_model3 = test_results_model3.append(new_row_model3,ignore_index=True)

In [933]:
test_results_model3.sort_values('Accuracy',ascending=False)

,activation_layer,activation_output,loss_model_used,optimizer_used,metrics_used,epochs_used,loss,Accuracy
1,softmax,sigmoid,binary_crossentropy,adam,accuracy,20,0.552632,0.733294
4,ELU,sigmoid,binary_crossentropy,adam,accuracy,20,0.553267,0.733178
7,Softmax,sigmoid,binary_crossentropy,adam,accuracy,50,0.553338,0.732945
2,LeakyReLU,sigmoid,binary_crossentropy,adam,accuracy,20,0.554830,0.732361
0,relu,sigmoid,binary_crossentropy,adam,accuracy,20,0.553412,0.732245
6,relu,sigmoid,binary_crossentropy,adam,accuracy,50,0.558670,0.732128
8,LeakyReLU,sigmoid,binary_crossentropy,adam,accuracy,50,0.553843,0.732012
10,ELU,sigmoid,binary_crossentropy,adam,accuracy,50,0.555342,0.731662
9,PReLU,sigmoid,binary_crossentropy,adam,accuracy,50,0.555456,0.731079
3,PReLU,sigmoid,binary_crossentropy,adam,accuracy,20,0.555656,0.728630
5,ThresholdedReLU,sigmoid,binary_crossentropy,adam,accuracy,20,0.580194,0.689563
11,ThresholdedReLU,sigmoid,binary_crossentropy,adam,accuracy,50,0.691379,0.529446

---
## CONCLUSION ALTERNATIVE MODEL 3:
---
### CHANGING ACTIVATION OF HIDDEN LAYERS DOES NOT SEEM TO IMPROVE THE MODEL SIGNIFICANTLY, ALSO INCREASING THE NUMBER OF EPOCHS DOES NOT HAVE THE DESIRED EFFECT. WHAT YOU CAN CONCLUDE FROM THE ABOVE TEST RESULTS IS THAT THERE IS A LARGE DIFFERENCE BETWEEN THE MODEL_ACCURACY AND MODEL_LOSS WHILE CHANGING THE ACTIVATION METHOD OF THE HIDDEN LAYERS. THE AMOUNT OF EPOCHS SEEMS TO BE BETTER SET AT 20 THAN AT 50.  
---

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [959]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 1s - loss: 0.5550 - accuracy: 0.7306 - 997ms/epoch - 4ms/step
Loss: 0.5550045967102051, Accuracy: 0.7306122183799744

In [973]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 1s - loss: 0.5585 - accuracy: 0.7310 - 1s/epoch - 4ms/step
Loss: 0.5584707856178284, Accuracy: 0.7309620976448059

In [985]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 1s - loss: 0.5556 - accuracy: 0.7311 - 988ms/epoch - 4ms/step
Loss: 0.555557906627655, Accuracy: 0.7310787439346313

In [998]:
print("Alternative Model 3 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A3.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 3 Results
268/268 - 1s - loss: 0.5544 - accuracy: 0.7322 - 1s/epoch - 4ms/step
Loss: 0.5543968677520752, Accuracy: 0.7322449088096619

### Step 3: Save each of your alternative models as an HDF5 file.

In [999]:
# Set the file path for the first alternative model
file_path = file_path = Path('./Resources/AlphabetSoup_am1.h5')

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [1000]:
# Set the file path for the second alternative model
file_path = Path('./Resources/AlphabetSoup_am2.h5')

# Export your model to a HDF5 file
nn_A2.save(file_path)

In [1001]:
# Set the file path for the 3rd alternative model
file_path = Path('./Resources/AlphabetSoup_am3.h5')

# Export your model to a HDF5 file
nn_A3.save(file_path)